*{
    margin: 0%;
    padding: 0%;
    font-family: Arial;
    transition: 0.5s;
    text-align: center;
}

.landing{
   background-position: center;
    height:15%;
    position: absolute;
    width:100%;
}
header{
    width:100%;
    padding: 20px 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}
.logo{
    font: size 30px;
    color:green;
    padding-right:1px;
    align-items: right;
    padding: 3px;
}
.navigation a{
    position:relative;
    font-size: 1.1em;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content:'';
    position: absolute;
    left: 0%;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin:right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnlogin-popup:hover{
    background:green;
    color: black;
}
body{
    width: 100vw;
    height:90vh;
    background-image: url('https://wallpapercave.com/wp/wp8401029.jpg');
    background-position: center;
    background-size: cover;
    position:absolute;
}

.content h1{
    color:rgb(225, 48, 92);
    font-size: 45px;
    margin-top:2px;
}
.content .row{
    padding-top:30px;
    width: 1000px;
    margin: auto;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.content .box{
    width: 320px;
    height:320px;
    background:white;
    border-radius: 20px;
}
.box img{
    width: 250px;
}
.box h3{
    font-size: 20px;
    padding-top:5px;
    color:green;
}
.box .btn{
    width: 150px;
    height: 40px;
    background:rgb(20, 58, 20);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}
.box .btn:hover{
    background: #fff;
    color: #2e937a;
    border: 1px solid #2e937a;
}



.popup{
    width: 370px;
    height:300px;
    background:black;
    border-radius: 6px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    margin-top:20%;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: green;
}
.popup p{
    color: white;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
    font-weight: 500;
    padding:25px;
}
.popup button{
    width: 40%;
    margin-top: 5px;
    padding: 10px 0;
    background:rgb(6, 6, 67);
    color: #fff;
    border: 0%;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
